body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
.text-box {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  word-spacing: 12px;
  text-transform: uppercase;
  color:rgb(238, 238, 238);
}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}
.button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  margin-left:20px;
  margin-right:20px;
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: black;
  cursor: pointer;
}

.logo{
  height: 300px;
  width: 300px;
  margin: auto;
  text-align: center;
  box-shadow: 0px 0px 20px purple;
  border-radius: 50%;
  background-color: black;
  transition: 1s;
}

.logo:hover{
  box-shadow: 0 0 30px 20px rgb(235, 12, 235);
}

@media screen and (max-width:450)
{
  .logo{
    background-color: none;
    box-shadow:none;
  }
}